body{width: 99%;
    height: 50%;
    border: 2px solid;}
.container{width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 7px;
    padding: 10px;}
.big{display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: rgb(232, 227, 227);}
p{font-family: 'Courier New', Courier, monospace;
    font-size: small;}
h3{font-size:xx-large larger;
    font-family: sans-serif;}
nav{background-color: black;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 10px;}
button{border-radius: 5px;
    background-color: rgb(6, 201, 255);
    color: white;
    font-weight: bold;
    padding: 9px;
    margin-bottom: 15px;
    width: 100%; 
    border: none;}
.old{margin-left: 10px;
    color: rgb(193, 188, 188);
    font-size: large;}
.new{color: rgb(20, 231, 129);
    font-weight: bold;
    font-size: large;}
img{width: 100%;
    height: 200px;}