.container{width: 94%;
    height: 50%;
    border: 2px black solid;
    display: flex;
    padding: 40px;
    justify-content: center;
    gap: 5%;
    text-align: center;}
.box1{display: flex;
    flex-direction: column;
    width: 20%;
    border: 3px solid rgb(10, 174, 224);
    align-items: center;
    box-shadow: 1px 1px 9px;
    #bold1{font-weight: bold;}
    border-radius: 9px;}
#circle1{color: white;
        margin-top: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(0, 179, 255);
        width: 20%;
        border-radius:100%;
        text-align: center;
        background-color: rgb(0, 179, 255);}
.box2{display: flex;
    flex-direction: column;
    width: 20%;
    border: 3px solid rgb(10, 174, 224);
    align-items: center;
    box-shadow: 1px 1px 9px;
    #bold2{font-weight: bold;}
    border-radius: 9px;}
#circle2{color: white;
        margin-top: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(0, 179, 255);
        width: 20%;
        border-radius:100%;
        text-align: center;
        background-color: rgb(0, 179, 255);}
.box3{display: flex;
    flex-direction: column;
    width: 20%;
    border: 3px solid rgb(10, 174, 224);
    align-items: center;
    box-shadow: 1px 1px 9px;
    #bold3{font-weight: bold;}
    border-radius: 9px;}
#circle3{color: white;
        margin-top: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(0, 179, 255);
        width: 20%;
        border-radius:100%;
        text-align: center;
        background-color: rgb(0, 179, 255);}
body{
    width: 99%;
}
